@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  @apply min-h-screen antialiased;
}

/* Ensure dark mode works with the `dark` class */
.dark {
  @apply bg-background-dark text-foreground-dark;
}